.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: var(--border-radius-base);
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  &[disabled] {
    background-color: transparent;
  }
} 